* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Display, sans-serif;
}

html,
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #111;
    color: white;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

$padding: 1.5rem 5rem;
$tracking: -1px;
$p-color: #5eff5947;

header {
    position: fixed;
    width: 100%;
    padding: $padding;
    // background: red;
    z-index: 999;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            letter-spacing: $tracking;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 2rem;

            a {
                text-transform: uppercase;
                position: relative;
                overflow: hidden;
                display: inline-block;

                span {
                    display: inline-block;
                    transform: translateY(0%);
                }

                span::after {
                    content: attr(data-letter);
                    position: absolute;
                    top: 100%;
                    left: 0;
                    color: #fff;
                    transition: top 1s ease-out;
                }
            }
        }
    }
}

// .cursor {
//     width: 50%;
//     height: 50%;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     // border-radius: 50%;
//     clip-path: ellipse(80% 200% at 50% 100%);
//     filter: blur(50px);
//     // opacity: 50%;
//     background: $p-color;
// }

main {
    width: 100%;
    height: 100%;
    position: relative;
    // background: red;


    .cursor {
        width: 50%;
        height: 50%;
        // background: linear-gradient(135deg, #6A5ACD, #00BFFF);
        background: $p-color;
        border-radius: 50%;
        animation: blob 8s infinite ease-in-out;
        position: absolute;
        filter: blur(60px);
        pointer-events: none;
        z-index: 1;
        transition: 0.2s all ease-out;
      }
      
      @keyframes blob {
        0% {
          transform: scale(1) translate(-50%, -50%);
          border-radius: 50%;
        }
        25% {
          transform: scale(1.1, 0.9) translate(-50%, -50%);
          border-radius: 45% 55% 60% 40%;
        }
        50% {
          transform: scale(0.95, 1.05) translate(-50%, -50%);
          border-radius: 60% 40% 45% 55%;
        }
        75% {
          transform: scale(1.05, 0.95) translate(-50%, -50%);
          border-radius: 50% 60% 40% 50%;
        }
        100% {
          transform: scale(1) translate(-50%, -50%);
          border-radius: 50%;
        }
      }

      .main-cursor {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url(./cursor.png);
        background-size: cover;
        background-position: center;
        // background: red;
      }

    
}

