* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF Pro Display, sans-serif;
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #111;
  color: white;
  overflow-x: hidden;
  cursor: url("cursor.png");
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

header {
  position: fixed;
  width: 100%;
  padding: 1.5rem 5rem;
  z-index: 999;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h2 {
  letter-spacing: -1px;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header nav ul a {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
header nav ul a span {
  display: inline-block;
  transform: translateY(0%);
}
header nav ul a span::after {
  content: attr(data-letter);
  position: absolute;
  top: 100%;
  left: 0;
  color: #fff;
  transition: top 1s ease-out;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}
main .cursor {
  width: 50%;
  height: 50%;
  background: rgba(94, 255, 89, 0.2784313725);
  border-radius: 50%;
  animation: blob 8s infinite ease-in-out;
  position: absolute;
  filter: blur(60px);
  pointer-events: none;
  z-index: 1;
  transition: 0.2s all ease-out;
}
@keyframes blob {
  0% {
    transform: scale(1) translate(-50%, -50%);
    border-radius: 50%;
  }
  25% {
    transform: scale(1.1, 0.9) translate(-50%, -50%);
    border-radius: 45% 55% 60% 40%;
  }
  50% {
    transform: scale(0.95, 1.05) translate(-50%, -50%);
    border-radius: 60% 40% 45% 55%;
  }
  75% {
    transform: scale(1.05, 0.95) translate(-50%, -50%);
    border-radius: 50% 60% 40% 50%;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    border-radius: 50%;
  }
}
main .main-cursor {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(./cursor.png);
  background-size: cover;
  background-position: center;
}
main .hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .hero-section .aboutWatch {
  padding: 80px;
}
main .hero-section .aboutWatch h1 {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(3, 181, 3);
}
main .hero-section .aboutWatch p {
  margin-top: 20px;
  line-height: 2rem;
}
main .hero-section .explore {
  padding: 10px 20px;
  margin-top: 80px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(54, 237, 54);
}
main .hero-section .watch {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .hero-section .watch img {
  position: relative;
  z-index: 2;
}
main .hero-section .watch .watch-shadow {
  position: absolute;
  width: 420px;
  height: 420px;
  background: #00ff00;
  opacity: 30%;
  filter: blur(130px);
  border-radius: 50%;
  z-index: 1;
}
main .hero-section .watch .watch-arrows {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  z-index: 3;
}
main .hero-section .watch i {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #00ff00;
  cursor: pointer;
  transition: transform 0.3s;
}
main .hero-section .watch i:hover {
  transform: scale(1.2);
}
main .userSection {
  padding: 40px 80px;
}
main .userSection .userLoved {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  padding: 25px;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: transparent;
}
main .userSection .userLoved #text {
  width: 16%;
  display: flex;
  gap: 25px;
}
main .userSection .userLoved hr {
  margin-left: -50px;
}
main .watchTheam {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .watchTheam .circle {
  --width: 600px;
  --height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width, 200px);
  height: var(--height, 200px);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
main .watchTheam .logo {
  position: absolute;
  background-color: #fff;
  background: url(/Home/image/image.png);
  background-size: cover;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}
main .watchTheam .text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 15s linear infinite;
  -webkit-animation: rotateText 15s linear infinite;
}
main .watchTheam .text .char {
  position: absolute;
  left: 50%;
  font-size: 1.1em;
  transform-origin: 0 calc(var(--width, 350px) / 2);
}
@media (min-width: 500px) {
  main .watchTheam .text .char {
    font-size: 2em;
  }
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
@media (max-width: 500px) {
  main .watchTheam .circle {
    --width: 300px;
    --height: 300px;
  }
}
@media (max-width: 350px) {
  main .watchTheam .circle {
    --width: 220px;
    --height: 220px;
  }
  main .watchTheam .text .char {
    font-size: 0.7em;
  }
}
@media (max-width: 230px) {
  main .watchTheam .circle {
    --width: 150px;
    --height: 150px;
  }
  main .watchTheam .text .char {
    font-size: 0.4em;
  }
}