@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: #040608;
}

.navbar {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  padding: 0px 80px;
  border-radius: 10px;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  font-size: 1.6rem;
  font-weight: 550;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  position: relative;
  overflow: hidden;
  font-family: "Teko", sans-serif;
  line-height: 0.9;
}

.menu a span {
  display: inline-block;
  position: relative;
  color: #fff;
}

.menu a span::after {
  content: attr(data-letter);
  position: absolute;
  top: 100%;
  left: 0;
  color: #fff;
  transition: top 1s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF Pro Display, sans-serif;
}

html,
body {
  position: relative;
  width: 100vw;
  background: #111;
  color: white;
  cursor: url("cursor.png");
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

header {
  position: fixed;
  width: 100%;
  padding: 1.5rem 5rem;
  z-index: 999;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav h2 {
  letter-spacing: -1px;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav ul a {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

header nav ul a span {
  display: inline-block;
  transform: translateY(0%);
}

header nav ul a span::after {
  content: attr(data-letter);
  position: absolute;
  top: 100%;
  left: 0;
  color: #fff;
  transition: top 1s ease-out;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

main .cursor {
  width: 50%;
  height: 50%;
  background: rgba(94, 255, 89, 0.2784313725);
  border-radius: 50%;
  animation: blob 8s infinite ease-in-out;
  position: absolute;
  filter: blur(60px);
  pointer-events: none;
  z-index: 1;
  transition: 0.2s all ease-out;
}

@keyframes blob {
  0% {
    transform: scale(1) translate(-50%, -50%);
    border-radius: 50%;
  }
  25% {
    transform: scale(1.1, 0.9) translate(-50%, -50%);
    border-radius: 45% 55% 60% 40%;
  }
  50% {
    transform: scale(0.95, 1.05) translate(-50%, -50%);
    border-radius: 60% 40% 45% 55%;
  }
  75% {
    transform: scale(1.05, 0.95) translate(-50%, -50%);
    border-radius: 50% 60% 40% 50%;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    border-radius: 50%;
  }
}
main .main-cursor {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(./cursor.png);
  background-size: cover;
  background-position: center;
}

main .hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .hero-section .aboutWatch {
  padding: 80px;
}

main .hero-section .aboutWatch h1 {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(3, 181, 3);
}

main .hero-section .aboutWatch p {
  margin-top: 20px;
  line-height: 2rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

main .hero-section .aboutWatch .exploreBtn {
  padding: 10px 20px;
  margin-top: 80px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(54, 237, 54);
}

main .hero-section .aboutWatch .exploreBtn.exploreBtn:hover {
  cursor: pointer;
  background-color: rgba(0, 255, 0, 0.8509803922);
}

main .hero-section .watch {
  position: relative;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .hero-section .watch img {
  width: 400px;
  height: 400px;
  -o-object-fit: contain;
  object-fit: contain;
  transition: opacity 0.5s ease;
  z-index: 2;
}

main .hero-section .watch .watch-shadow {
  position: absolute;
  width: 420px;
  height: 420px;
  background: #00ff00;
  opacity: 30%;
  filter: blur(130px);
  border-radius: 50%;
  z-index: 1;
}

main .userSection {
  padding: 40px 80px;
}

main .userSection .userLoved {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  padding: 25px;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: transparent;
}

main .userSection .userLoved .userImage {
  display: flex;
}

main .userSection .userLoved .userImage .user1 img, main .userSection .userLoved .userImage .user2 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
}

main .userSection .userLoved #text {
  width: 16%;
  display: flex;
  gap: 25px;
}

main .userSection .userLoved hr {
  margin-left: -50px;
}

main .watchTheam {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .watchTheam .circle {
  --width: 600px;
  --height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: var(--width, 200px);
  height: var(--height, 200px);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

main .watchTheam .logo {
  position: absolute;
  background-color: #fff;
  background: url(/assets/images/image\(6\).webp);
  background-size: cover;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

main .watchTheam .text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 15s linear infinite;
  -webkit-animation: rotateText 15s linear infinite;
}

main .watchTheam .text .char {
  position: absolute;
  left: 50%;
  font-size: 1.1em;
  transform-origin: 0 calc(var(--width, 350px) / 2);
}

@media (min-width: 500px) {
  main .watchTheam .text .char {
    font-size: 2em;
  }
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
@media (max-width: 500px) {
  main .watchTheam .circle {
    --width: 300px;
    --height: 300px;
  }
}
@media (max-width: 350px) {
  main .watchTheam .circle {
    --width: 220px;
    --height: 220px;
  }
  main .watchTheam .text .char {
    font-size: 0.7em;
  }
}
@media (max-width: 230px) {
  main .watchTheam .circle {
    --width: 150px;
    --height: 150px;
  }
  main .watchTheam .text .char {
    font-size: 0.4em;
  }
}
main .acDesigne {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: "Inter";
  font-size: 2rem;
}

main .acDesigne .acImage {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .acDesigne .acImage img {
  mix-blend-mode: exclusion;
}

main .acDesigne .smart {
  width: 100%;
  height: 120px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

main .acDesigne .smart:hover {
  background: #1a1a1a;
}

main .acDesigne .smart number {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.64);
  border-radius: 50%;
  font-weight: bold;
}

main .acDesigne .smart p {
  flex: 1;
  margin: 0 40px;
  font-size: 16px;
  line-height: 1.4;
  color: #ccc;
}

main .acDesigne .smart .fa-arrow-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.64);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.smart:hover main .acDesigne .smart .fa-arrow-right {
  transform: translateX(5px);
  border-color: white;
}

main .acDesigne .hr {
  width: 100%;
  padding: 0 80px;
}

main .acDesigne .hr hr {
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 0.5px;
}

main .acDesigne .image-preview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
}

main .acDesigne .image-preview img {
  width: 800px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

main .acDesigne .image-preview.active {
  display: block;
  opacity: 1;
}

body {
  background-color: rgb(19, 19, 31);
  overflow-x: hidden;
}

/* mouse curser */
.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  /* so that it stays on top of all other elements */
}

.features-section {
  padding: 50px 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9;
}
.features-section .bg-overly,
.features-section .sec-bg-overly {
  width: 30rem;
  height: 30rem;
  background-color: rgb(26, 97, 43);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.features-section .bg-overly {
  top: -14%;
  right: -12%;
}
.features-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}
.features-section__title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  z-index: 9;
  font-family: "montserrat-latin-800";
}
.features-section__subtitle {
  font-size: 28px;
  color: #fff;
  margin: 10px 0;
  z-index: 9;
}
.features-section__description {
  font-size: 18px;
  color: #fff;
  margin-bottom: 40px;
  z-index: 9;
}
.features-section .container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-section__content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 20px;
}

.watch-ui {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}
.watch-ui .icon {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.watch-ui .icon.top {
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.watch-ui .icon.top-right {
  top: 15%;
  right: 1%;
  transform: translateY(-50%);
}
.watch-ui .icon.right {
  top: 50%;
  right: -9%;
  transform: translateY(-50%);
}
.watch-ui .icon.bottom-right {
  bottom: 15%;
  right: 1%;
  transform: translateY(50%);
}
.watch-ui .icon.bottom {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.watch-ui .icon.bottom-left {
  bottom: 15%;
  left: 4%;
  transform: translateY(50%);
}
.watch-ui .icon.left {
  top: 50%;
  left: -9%;
  transform: translateY(-50%);
}
.watch-ui .icon.top-left {
  top: 16%;
  left: 3%;
  transform: translateY(-50%);
}
.watch-ui .watch-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.watch-ui .watch-center img {
  width: 180px;
  height: auto;
}

.sub-bottom-headig {
  z-index: 9 !important;
}
.sub-bottom-headig p {
  font-size: 18px;
  color: #fff !important;
  margin-top: 20px;
  z-index: 9;
}

.choose-section {
  width: 100%;
  padding: 30px;
  position: relative;
}
.choose-section .bg-overly,
.choose-section .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(26, 97, 43);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.choose-section .bg-overly {
  top: 11%;
  right: 7%;
}
.choose-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}
.choose-section .choose-section__title {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}
.choose-section .choose_section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.choose-section .choose_box {
  margin-top: 50px;
  width: 350px;
  position: relative;
  flex-shrink: 0 !important;
}
.choose-section .item-img {
  width: 100%;
  height: 350px;
  flex-shrink: 0;
}
.choose-section img {
  width: 18rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose-section .watch-fectures-box {
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.choose-section .watch-fectures-box .fectures-item-box {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.choose-section .watch-fectures-box .fectures-item-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose-section .choose_bottom_part {
  width: 100%;
  height: auto;
  background-color: #000;
  color: #fff;
  padding: 10px 25px;
  border-radius: 9px;
  position: absolute;
  bottom: -20%;
}
.choose-section .choose_bottom_part .sub-heading-part {
  font-weight: 600;
  margin-top: 2rem;
  font-family: "montserrat-latin-800";
}
.choose-section .sec-wrapper {
  margin-top: 50px;
}

.our-collection {
  margin-top: 50px;
  width: 100%;
  padding: 30px;
}
.our-collection h1 {
  text-align: center;
  z-index: 9;
  color: #fff;
  font-size: 2rem;
  font-family: "montserrat-latin-800";
}
.our-collection .container {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 30rem;
  height: 30rem;
  position: relative;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
}
.card .card-overly {
  border-radius: 20px;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 99;
}
.card .card-body {
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: red;
  -webkit-clip-path: circle(var(--clip) at 50% 50%);
          clip-path: circle(var(--clip) at 50% 50%);
}
.card img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.card .btn {
  margin-top: 15px;
  padding: 8px 20px;
  background: #00ff6a;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.card .btn:hover {
  background: #00cc58;
}
.card .like-icon {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.card .like-icon:hover {
  color: #ff4d4d;
}

@media (max-width: 450px) {
  .watch-ui {
    width: 10rem;
  }
}
.collection {
  width: 100%;
  padding: 4rem 2rem;
  text-align: center;
  color: white;
  position: relative;
}
.collection .cursor-picture {
  position: absolute;
  opacity: 0;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
  transform: scale(0.8);
  z-index: 20;
}
.collection .bg-overly,
.collection .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(26, 97, 43);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.collection .bg-overly {
  top: -19%;
  right: -15%;
}
.collection .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}
.collection .title {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.collection .main-heading {
  padding: 1rem;
  margin: auto;
  position: relative;
}
.collection .main-heading .animPara {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.collection .main-heading .animPara .word {
  display: inline-block;
  font-size: 2rem;
  margin-right: 1rem;
  overflow: hidden;
}
.collection .main-heading .animPara .word span {
  display: inline-block;
  font-size: 2rem;
  transform: translateY(100%);
  opacity: 0;
}
.collection .main-heading .animPara .imgdiv {
  pointer-events: none;
  position: absolute;
  width: 200px !important;
  height: 200px !important;
  overflow: hidden;
  z-index: 99;
  background-color: red;
}
.collection .main-heading .animPara .imgdiv img {
  transform: translateY(100%);
  opacity: 0;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.products-section .bg-overly,
.products-section .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(26, 97, 43);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.products-section .bg-overly {
  top: -19%;
  right: -15%;
}
.products-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}

.vdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  -webkit-clip-path: circle(var(--clip) at 50% 50%);
          clip-path: circle(var(--clip) at 50% 50%);
}

.vdiv video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cricle {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cricle i {
  font-size: 60px !important;
  color: #fff;
}

.earbuds-section {
  padding: 2rem;
  position: relative;
}
.earbuds-section .bg-overly,
.earbuds-section .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(26, 97, 43);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.earbuds-section .bg-overly {
  top: -19%;
  right: -15%;
}
.earbuds-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}
.earbuds-section .section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2rem;
}
.earbuds-section .earbuds-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 768px) {
  .earbuds-section .earbuds-grid {
    grid-template-columns: 1fr;
  }
}
.earbuds-section .earbuds-grid .earbuds-card {
  position: relative;
  background: #282933;
  width: 30rem !important;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  z-index: 9;
}
.earbuds-section .earbuds-grid .earbuds-card .product-img {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  display: block;
}
.earbuds-section .earbuds-grid .earbuds-card button {
  position: relative;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: 4px solid rgb(25, 232, 122);
  color: #fff;
  background: transparent;
  overflow: hidden;
  z-index: 2;
}
.earbuds-section .earbuds-grid .earbuds-card button::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  background: rgb(6, 198, 96);
  color: black;
  border-radius: 50%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease-in;
  z-index: -1;
}
.earbuds-section .earbuds-grid .earbuds-card button:hover::after {
  cursor: pointer;
  top: -100%;
}
.earbuds-section .earbuds-grid .earbuds-card .heart-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.smartphone-section {
  padding: 2rem;
  color: #fff;
  position: relative;
  text-align: center;
}
.smartphone-section .bg-overly,
.smartphone-section .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(26, 97, 43);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.smartphone-section .bg-overly {
  top: -19%;
  right: -15%;
}
.smartphone-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}
.smartphone-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.smartphone-section .card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-items: center;
}
.smartphone-section .card {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  z-index: 9;
}
.smartphone-section .card:hover {
  transform: scale(1.05);
}
.smartphone-section .card img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.smartphone-section .card .card-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.smartphone-section .card .card-footer button {
  position: relative;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: 4px solid rgb(25, 232, 122);
  color: #fff;
  background: transparent;
  overflow: hidden;
  z-index: 2;
}
.smartphone-section .card .card-footer button::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  background: rgb(6, 198, 96);
  color: black;
  border-radius: 50%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease-in;
  z-index: -1;
}
.smartphone-section .card .card-footer button:hover::after {
  cursor: pointer;
  top: -100%;
}
.smartphone-section .card .card-footer .heart {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .smartphone-section {
    grid-template-columns: 1fr;
  }
}

.laptop-section {
  position: relative;
  padding: 2rem;
  height: 100vh;
}
.laptop-section .bg-card {
  position: absolute;
  background-color: #2A2D35;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  width: 35rem;
  height: 35rem;
}
.laptop-section .bg-overly,
.laptop-section .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(26, 97, 43);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.laptop-section .bg-overly {
  top: -19%;
  right: -15%;
}
.laptop-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}
.laptop-section .laptop-member {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.laptop-section .laptop-member h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}
.laptop-section .laptop-member .laptop-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 75vh;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card {
    width: 95%;
    height: 50vh;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-img {
  width: 100%;
  height: 100%;
}
.laptop-section .laptop-member .laptop-card .laptop-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.laptop-section .laptop-member .laptop-card .laptop-info {
  position: absolute;
  bottom: 0;
  left: 2.5rem;
  height: 20vh;
  color: white;
  text-align: left;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info {
    height: 12vh;
    left: 0.75rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info h3 {
  color: #5AFF00;
  font-size: 1.25rem;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info h3 {
    font-size: 1rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info h1 {
  font-size: 4rem;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info h1 {
    font-size: 2rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand {
    gap: 0.5rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand img {
  height: 1.5rem;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand img {
    height: 0.75rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand h4 {
  font-size: 1.125rem;
}
.laptop-section .laptop-member #card-one {
  top: 130%;
  background-color: rgb(222, 101, 27);
}
.laptop-section .laptop-member #card-two {
  top: 230%;
  background-color: rgb(176, 255, 59);
}
.laptop-section .laptop-member #card-three {
  top: 250%;
  background-color: rgb(176, 13, 165);
}
.laptop-section .laptop-member #card-four {
  top: 350%;
  background-color: rgb(13, 25, 94);
}
.laptop-section .laptop-member #card-five {
  top: 450%;
  background-color: rgb(156, 9, 9);
}